body
{
  color: white;
  background:lightcoral;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emotion_name ,#emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
#heading{
  letter-spacing:10px;
  font-size: 20px;
  border-radius: 19px;
  font-family: 'Source Code Pro', monospace;
}
label{
  background-color: white;
  color: darkgreen;
padding: 6px;
border-radius: 10px;
}